<div class="custom-image-text"
    id="custom-image-text-{{ section.id }}">
    <div class="custom-image">
        <img src="{{ section.settings.image.src | img_url: 'x782' }}" 
             srcset="{{ section.settings.image.src | img_url: 'master', scale: 2 }} 2x" 
            alt="{{ section.settings.image.alt | escape }}">
    </div>
    <div class="custom-text">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <div class="content">
        {{ section.settings.text }}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Custom Image with Text",
    "settings": [
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
		},
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading Text Here"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Add your text here.</p>"
        },
        {
            "type": "image_picker",
            "id": "text_bg",
            "label": "Text Background"
        }
	],
    "presets": [
        {
        "name": "Custom Image with Text",
        "category": "Advanced layout"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
    .custom-image-text {
        padding: 30px;
    }
    .custom-image-text .custom-image {
        margin-bottom: 30px;
        width: 100%;
        height: 240px;
        border-radius: 10px;
        overflow: hidden;
    }
    .custom-image-text .custom-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .custom-image-text .custom-text .heading {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
		text-transform: unset;
		letter-spacing: 0;
    }
    .custom-image-text .custom-text .content h4 {
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: -0.3px;
    }
    .custom-image-text .custom-text .content p {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -0.5px;
    }
    .custom-image-text .custom-text .content p strong {
		letter-spacing: -0.3px;
	}
    @media (min-width: 576px) {
        .custom-image-text .custom-image {
            height: 320px;
        }
    }
    @media (min-width: 768px) {
        .custom-image-text {
            display: flex;
            padding: 30px 0;
            align-items: center;
        }
        .custom-image-text .custom-image {
            flex: 0 0 50%;
            min-height: 500px;
            border-radius: 0 10px 10px 0;
        }
        .custom-image-text .custom-text {
            padding: 30px 50px;
			flex-grow: 1;
        } 
        .custom-image-text .custom-text .content {
            max-width: 440px;
        }
    }
    @media (min-width: 1200px) {
        .custom-image-text .custom-image {
            height: 650px;
        }
        .custom-image-text .custom-text {
            padding: 50px 136px;
        }
    }
    @media (min-width: 1440px) {
        .custom-image-text .custom-image {
            height: 782px;
        }
        .custom-image-text .custom-text {
            padding: 50px 136px;
        }
        .custom-image-text .custom-text .heading {
            margin-bottom: 40px;
            font-size: 32px;
            line-height: 48px;
        }
        .custom-image-text .custom-text .content h4,
        .custom-image-text .custom-text .content p {
            font-size: 20px;
        }
    } 

{% endstylesheet %}

{%- if section.settings.text_bg -%}
    <style>
        #custom-image-text-{{ section.id }} .custom-text {
            background-image: url({{ section.settings.text_bg.src | img_url: 'master', scale: 2 }});
            background-size: contain;
            background-position: center right;
            background-repeat: no-repeat;
        }
      	@media (max-width: 1600px) {
          #custom-image-text-{{ section.id }} .custom-text {
          	background-position: center left 550px;
          }
        } 
      	@media (max-width: 768px) {
          #custom-image-text-{{ section.id }} .custom-text {
            background-image: none;
          }
        }
    </style>
{%- endif -%}


{% javascript %}
{% endjavascript %}
